

  .blue{
    color: blue;
    font-family: 'Product Sans';
    font-weight: 400;
    
 }

  .red{
    color: red;
    font-weight: 400;
  }

  .yellow{
    color: rgb(255, 219, 88);
    font-weight: 400;
  }
  
  .green{
    color: green;
    font-weight: 400;
    font-family: arial;
  }

  .rotate {
    display: inline-block;
    transform:rotate(-20deg);
  }
  #Search-bar {
    border-radius: 25px;
    position: absolute;
    left: 280px;
    transform: scale(1.6);
    padding-left: 200px;
    top: 520px;
    
    
  }
  .center {
    padding-top: 290px ;
    padding-left: 300px ;
    font-size: 92px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .grid-container {
    font-size: 12px;
    display: Grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-column-gap: 88px;
    ;
  }
  .button-contaier {
    display: inline-grid;
    grid-template-columns: 155px 155px;
    grid-column-gap: 55px;
    -moz-appearance:none;
  }
  footer {
    top: 55px;
    -moz-appearance: none;
  }



